@model MACPortal.ViewModel.MemberEditProfileVM

@{
    ViewBag.Title = "Mudar Senha";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}
<br/>
<h2 class="special-title">Mudar Senha</h2>
<br/>

<section id="pre-register-form" style="margin-left: 20px">
    @{ Html.RenderPartial("_EditUserPartial", Model.User); }
</section>
