@{
    ViewBag.Title = "Termos de Uso";
    Layout = "~/Views/Shared/_LayoutAllUsers.cshtml";
}

<h2>Termos de Uso</h2>

<section id="regulation">
    <ol>
        <li>
            Descrição geral da Campanha
            <ol>
                <li>
                    A Campanha Morada de Prêmios (“Campanha”) é promovida pela empresa Access Consultoria Imobiliária Ltda., constituindo-se um ato unilateral com promessa de recompensa, conforme o disposto nos artigos 854 e seguintes do Código Civil. 
                </li>
                <li>
                    A Campanha permitirá o reconhecimento dos participantes, estabelecendo um sistema de premiação baseado em um ranking com o acumulado total de pontos conquistados ao longo da campanha, conforme as regras pré-estabelecidas.
                </li>
                <li>
                    A adesão ao regulamento da Campanha é voluntária e pressupõe o entendimento e aceitação total das condições, regras e normas descritas neste regulamento.
                </li>
            </ol>
        </li>
        
        <li>
            Objetivo e Regras Gerais da Campanha
            <ol>
                <li>
                    A Campanha constitui-se em um conjunto de ações que tem como objetivo principal aumentar o número vendas dos produtos Access Consultoria Imobiliária Ltda., para os participantes da Campanha.
                </li>
                <li>
                    A Campanha será baseada no acúmulo de pontos conquistados através de vendas empreendimentos, conforme tabela de pontos indicada no item 5 e 6, do presente Regulamento.
                </li>
                <li>
                    A Campanha terá vigência de  02 de janeiro a 31 de dezembro de 2014.
                </li>
                <li>
                    O encerramento da Campanha poderá ocorrer antes do prazo, a critério exclusivo da Realizadora, mediante aviso prévio aos participantes, com antecedência mínima de 30 (trinta) dias.
                </li>
                <li>
                    Sobre o encerremento antecipado:
                    <ol>
                        <li>
                            Na hipótese de encerramento antecipado, as vendas enviadas até o dia imediatamente anterior ao do anúncio de encerramento, serão analisadas e os pontos serão computados, antecipando-se assim a premiação mensal e final.
                        </li>
                        <li>
                            Em caso de anúncio de encerramento antecipado este será feito pela Realizadora via E-mail, SMS e no site da Campanha.
                        </li>
                    </ol>
                </li>
                <li>
                    Serão disponibilizados aos participantes da Campanha os seguintes canais de comunicação:<br/>
                    <b>E-mail:</b> <a>faleconosco@moradadepremios.com.br</a><br/>
                    <b>Portal:</b> <a href="http://www.moradadepremios.com.br">www.moradadepremios.com.br</a>
                </li>
                <li>
                    Todos os participantes que se cadastrarem na Campanha pelo portal exclusivo, poderão receber informações via e-mail e via SMS, desde que autorizem o envio de tais dados no momento de cadastro no site.
                </li>
            </ol>
        </li>
        <li>
            Público – Alvo da Campanha
            <ol>
                <li>
                    Poderão participar da Campanha Morada de Prêmios os corretores, gerentes e coordenadores da Access Consultoria Imobiliária Ltda., ativos que se cadastrarem no site da Campanha.
                </li>
            </ol>
        </li>
        <li>
            Mecânica
            <ol>
                <li>
                    Para participar, os corretores, gerentes e coordenadores elegíveis deverão se cadastrar na ferramenta WEB (site <a href="http://www.moradadepremios.com.br">www.moradadepremios.com.br</a>) Campanha, de abril a dezembro de 2012 e preencher o formulário padrão de cadastro no site Morada de Prêmios apropriado com os seguintes campos: Nome completo, CPF, e-mail e celular.<br/>
                    <br/>
                    O ranking da pontuação será considerada de janeiro de 2012 a dezembro de 2012.
                </li>
            </ol>
        </li>
        <li>
            Pontuação
            <ul>
                <li>
                    Corretor – O acúmulo de pontos será proporcional ao VGV de cada corretor, considerando 1(um) ponto para cada R$ 1.000,00 em VGV.
                </li>
                <li>
                    Gerente – O acúmulo de pontos será proporcional ao VGV total da equipe, na proporção de 1(um) ponto para cada R$ 4.000,00 em VGV.
                </li>
                <li>
                    Coordenador – O acúmulo de pontos será proporcional às vendas do(s) produto(s) que coordena, durante sua gestão, na proporção de 1(um) ponto para cada R$ 4.000,00 em VGV.
                </li>
                <li>
                    Coordenadores de Revenda – O acúmulo de pontos será proporcional ao VGV de cada coordenador, considerando 1(um) ponto para cada R$ 3.000,00 em VGV.<br/>
                    As vendas intermediadas em parcerias com os corretores da Access renderão pontos apenas para a equipe de revenda.
                </li>
                <li>
                    Coordenadores de Terceiros – O acúmulo de pontos será proporcional ao VGV de cada coordenador, considerando 1(um) ponto para cada R$ 3.000,00 em VGV
                </li>
                <li>
                    O Participante da Campanha será analisado paralelamente em outras ações:
                </li>
            </ul>
            <br/>
            <i>Pontos por empreendimento</i>
            <br/>
            <table>
                <tr>
                    <th>Empreendimento</th> <th>Período</th> <th>Pontuação</th>
                </tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1,5 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1,5 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1,5 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1,5 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1,5 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1,5 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1,5 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1,5 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1,5 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1,5 ponto a cada 1.000 VGV</td></tr>
                <tr><td>Piazza Suprema</td> <td>Jan. a Dez.</td> <td>1,5 ponto a cada 1.000 VGV</td></tr>
            </table>
            <br/>
            <i>Indicação</i>
            <ul>
                <li>
                    Todo corretor pode garantir 100 pontos extras através da indicação de Corretores para integrar a equipe de vendas da Access Consultoria Imobiliária Ltda.. Os pontos serão atribuídos ao corretor que fizer a indicação, no mesmo mês que o indicado iniciar em nossa equipe.
                </li>
            </ul>
        </li>
    </ol>
</section>
