@model MACPortal.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Esqueci minha Senha";
    Layout = "~/Views/Shared/_LayoutLogout.cshtml";
}

@section featured
{
    <img class="image-glow" src="../../Content/images/logo-with-products-small.png" alt="Mérito MAC"/>   
    <br/>
}

<p>Por favor, informe o seu login:</p>
<section id="loginForm">
@using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
{
    @Html.AntiForgeryToken()

    @f.FormGroup().TextBoxFor(m => m.UserName).ShowValidationMessage(false).Placeholder("Insira seu CPF");
    @Html.Bootstrap().SubmitButton().AppendIcon("glyphicon glyphicon-chevron-right").Text("Recuperar Senha").Class("forgot-pass-bt")
}
</section>
<br/>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
