@model MACPortal.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Esqueci minha Senha";
    Layout = "~/Views/Shared/_LayoutLogout.cshtml";
}

@section featured
{
    <img class="image-glow" src="../../Content/images/logo-with-products-small.png" alt="Mérito MAC"/>   
    <br/>
}
<p>Novas instruções para recuperar sua senha foram enviadas para <strong>@Model.Email</strong></p>
<br/>
@Html.ActionLink("Voltar", "Login")

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
